<% unless same_user?(current_user, user) %>
<li>
  Name: <%= link_to user.name, user_path(user), class: 'profile-link' %>

  <span>
    <% if current_user.friend?(user) %>
      Friends
    <% elsif pending_friends?(user) %>
          Friend request sent <span> <%= cancel_friend_request(user) %> </span>
    <% elsif no_friend_requested?(user) %>
      <%= add_friend(user) %>
    <% end %>
  </span>

</li>
  <% end %>
