<h1>Friends list</h1>
<ul class="friend-list">
  <% @friends.each do |friendship| %>
  <li>
    <%= friend_name(friendship) %>
    <span>
    <%= delete_friend(friendship) %>
    </span>
  </li>
  <% end %>
</ul>

<h2>Friend requests</h2>
<%= render 'friend_requests' %>
